.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  font-size: 18px;
  margin: 92px 50px 96px;
  height: 105px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 41px;
  text-underline-offset: 4px;
  gap: 33px;
  list-style-type: circle;
}

.header__links-list-item:first-child {
  list-style-type: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header__address {
  margin-top: -4px;
  line-height: 24px;
  margin-left: 186px;
  margin-right: 20px;
  text-underline-offset: 4px;
  list-style-type: none;
  font-style: normal;
}

.cover {
  min-height: 757px;
  position: relative;
  background: url("/images/cover.jpg");
  background-size: cover;
  color: white;
  text-transform: uppercase;
  background-position: center;
  z-index: 2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.cover__title {
  font-size: 100px;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
  line-height: 1.35em;
}

.aligned-text_left {
  text-align: left;
  padding-left: 50px;
  padding-top: 155px;
}

.aligned-text_center {
  text-align: center;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: right;
  padding-right: 20px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  padding: 109px 50px 0px 50px;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 18.5px;
}

.bet-button {
  color: white;
  background-color: transparent;
  font-size: 23px;
  border: 1px solid white;
  font-family: Raleway, sans-serif;
  letter-spacing: -1px;
  text-transform: uppercase;
  margin-top: -13px;
  padding: 10px 35px 12px 35px;
}

.lots {
  margin: 140px 24px 0px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  padding: 39px 40px 27px;
}

.lots__card-list {
  list-style-type: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  z-index: 1;
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
}

.card-link {
  height: 100%;
  text-decoration-color: white;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.card__title {
  color: white;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  line-height: 1.1em;
  padding: 48px 39px 0;
}

.card__text {
  color: white;
  font-size: 18px;
  letter-spacing: 1.1px;
  line-height: 1.33em;
  padding: 0px 39px 48px;
}

.lots__look-more-link {
  display: block;
  text-transform: lowercase;
  padding: 31px 0 0 39px;
  font-size: 20px;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.about {
  margin: 155px 0 0 23px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: auto;
}

.about__logo {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  border-radius: 119px;
  background-color: black;
  height: 238px;
  width: 238px;
}

.about__logo-image {
  height: 113px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  padding: 99px 0 100px 25px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  padding: 0 32px 0 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 182px 0 100px 50px;
  justify-items: center;
  font-size: 18px;
  text-underline-offset: 4px;
  gap: 10px;
}

.footer__address {
  list-style-type: none;
  font-style: normal;
  line-height: 1.35em;
  padding-right: 30px;
}

.footer__menu {
  margin-left: -50px;
}

.footer__menu-list {
  list-style-type: none;
  justify-items: center;
}

.footer__social-list {
  display: inline-flex;
  list-style-type: none;
  justify-items: center;
  gap: 48px;
  padding-left: 1px;
}

.footer__social-icon {
  width: 48px;
}
